Repository Jonic/pushkinsprefers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --syntax=scss, prettier-package-json --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix --syntax=scss",
    "git add"
  ],
  "package.json": [
    "prettier-package-json --write",
    "git add"
  ]
}

Ignore the right stuff
  .eleventyignore
  .gitignore
Due: none

Standardise 11ty config
  .eleventy.js
Due: eslint --fix

Stubbed existing content
  src/content/amor/index.njk
  src/content/food/burgers/index.njk
  src/content/food/fingers/images/fish.gif
  src/content/food/fingers/images/fishfingers.gif
  src/content/food/fingers/index.njk
  src/content/food/index.njk
  src/content/food/its-a-rap/index.njk
  src/content/index.njk
  src/content/murals/index.njk
  src/content/zines/2019/april.njk
Due: none

Updated the stuff
  src/filters/index.js
  src/filters/squash.js
  src/filters/titleText.js
  src/includes/shared/header.njk
  src/includes/shared/homeLink.njk
  src/includes/shared/siteFooter.njk
  src/includes/shared/siteHead.njk
  src/layouts/application.njk
  src/layouts/zine.njk
  src/shortcodes/releaseDeets.js
  src/transforms/index.js
  src/transforms/minifyHtml.js
Due: eslint --fix

Delete index.html
  public/index.html
Due: none

Got the page titles working!
  src/data/site.js
  src/includes/shared/siteHead.njk
Due: eslint --fix

Update dateDisplay.js
  src/filters/dateDisplay.js
Due: eslint --fix

Coming together now
  .eleventy.js
  .nvmrc
  .tool-versions
  package-lock.json
  src/content/_assets/styles/fonts/archer.css
  src/content/_assets/styles/fonts/public-sans.css
  src/content/_assets/styles/zines.css
  src/content/index.njk
  src/content/murals/_images/mural1.png
  src/content/zines/2019/april/index.njk
  src/content/zines/2019/feb/index.njk
  src/content/zines/2019/feb/styles.css
  src/content/zines/2019/mar/index.njk
  src/content/zines/2019/may/index.njk
  src/content/zines/2019/may/styles.css
  src/content/zines/styles.css
  src/includes/siteHead.njk
  src/layouts/zine.njk
  src/pairedShortcodes/index.js
  src/pairedShortcodes/zines/release.js
  src/shortcodes/home/feature.js
  src/shortcodes/home/img.js
  src/shortcodes/home/mix.js
  src/shortcodes/index.js
  src/shortcodes/releaseDeets.js
Due: eslint --fix

Update .eleventy.js
  .eleventy.js
Due: eslint --fix

Got some stuff in place
  src/content/amor/index.njk
  src/content/cover.png
  src/content/food/burgers/index.njk
  src/content/food/index.njk
  src/content/food/styles.css
  src/content/index.njk
  src/content/murals/index.njk
  src/content/murals/murals.css
  src/content/murals/styles.css
  src/content/zines/2019/feb/index.njk
  src/content/zines/2019/mar/index.njk
  src/content/zines/2019/may/index.njk
  src/content/zines/2019/may/styles.css
  src/data/site.js
  src/includes/siteHead.njk
  src/layouts/application.njk
  src/layouts/zine.njk
Due: eslint --fix

Finished up home page
  src/content/index.njk
  src/shortcodes/home/feature.js
Due: eslint --fix

ACTUALLY fixed home page now
  package.json
  src/content/index.njk
  src/content/murals/index.njk
  src/shortcodes/home/feature.js
  src/shortcodes/home/img.js
  src/shortcodes/home/mix.js
  src/shortcodes/index.js
Due: eslint --fix, prettier-package-json --write

BORGERZ
  src/content/food/burgers/index.njk
  src/includes/siteHead.njk
  src/layouts/application.njk
Due: none

FINGERZ
  src/content/food/fingers/cover.png
  src/content/food/fingers/index.njk
  src/content/food/fingers/styles.css
Due: none

RAP BATTLE
  src/content/food/its-a-rap/index.njk
  src/content/food/its-a-rap/styles.css
Due: none

FOOD INDEX
  src/content/food/index.njk
  src/content/food/styles.css
Due: none

Create cover.png
  src/content/food/its-a-rap/cover.png
Due: none
